body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 22px;
        font-family: "Roboto", "Tahoma", sans-serif;
        color: #ffffff;
        background-image: url("../img/gllacy-index-1200.jpg");
        background-repeat: no-repeat;
        background-size: 1200px auto;
        opacity: 0.9; 
        background-color: #849d8f;
    }
.main-header {
    min-height: 600px; /* Временно для сетки */
 
}
.container {
    width: 1150px;
    margin: 0 auto;   
}
a {
    text-decoration: none;
    color:#ffffff;
    text-shadow:1px 1px 2px #3F3E3E;
    z-index:25;
}
.main-header-logo {
    width: 160px;
    height: 70px;
}
.inner-catalog-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;  
}
.main-navigation-wrapper {
    width: 100%;
    min-height: 70px;/* Временно для сетки */
}
.main-navigation-wrapper .container {
    display: flex;
} 
.site-navigation {
    width: 380px;
    min-height: 70px; /* Временно для сетки */
    margin: 0;
    padding: 0;
    list-style: none;
}
.user-navigation {
    width: 270px;
    min-height: 70px; /* Временно для сетки */
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}
.site-navigation a,
.user-navigation a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}
.site-navigation a:hover {
    color: #333333;
    background-color: #f7f6f3;
    text-shadow: none;
    border-radius: 28px;
    padding: 8px 10px;
}
.site-navigation a:focus {
    box-shadow: inset 0px 2px 1px 0px #333333; 
}
.site-navigation a:active {
    color: #ffffff;
    background-color: #d07058;
    text-shadow: none;
    border-radius: 28px;
    padding: 8px 10px;
}
ul .inner-catalog-navigation {
    background-color: #f8f7f4;
    width: 145px;
    text-shadow: none;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 0;
}    
.inner-catalog-navigation a {
    color: #333333;
    font-weight: normal;
    text-shadow: none;
    padding: 10px;
}
.inner-catalog-navigation li:first-child {
    font-weight: bold;
    border-bottom: 1px solid #969595af;
}
.inner-catalog-navigation a:hover {
    background-color: #fbded7;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.inner-catalog-navigation a:focus {
    background-color: #f6b5a5;
    box-shadow: none; 
}
.inner-catalog-navigation a:active {
    color: #ffffff;
    background-color: #d07058;
}
.user-navigation a:hover {

}
.user-navigation a:focus {

}
.tel-container {
    width: 1150px;
    margin: 0 auto; 
    display: flex;  
}
.tel-wrapper {
    margin-left: auto;    
}
.button {
    vertical-align: middle;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 28px;
    padding:10px 30px;
 }
.button:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
} 
.button:focus {
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
img {
    max-width: 100%;
}   
.visually-hidden {
    visibility: hidden;
 } 
.slider-inner {
    width: 1200px;
    height: 470px;
}
slider input[type=radio] {
    display: none;
}
.slider-inner {
    /*overflow: hidden;*/ 
}
.slider-controls {
    text-align: left;
}
.slider-box {
    width: 1200px;
    border: 2px solid #A31313;
    height: 850px;
}
.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid white;
    background-color: rgba(253, 253, 253, 0);
    cursor: pointer;
}
.slider-controls label:hover {
    background-color: rgba(253, 253, 253, 0.3);
}
.slider-slides {
   /* width: 300%;
    transition: transform 0.8s ease;*/
} 
slider img {  
    margin:auto; 
} 
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #FFFFFF;
}

#btn-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-1200px);
}
#btn-3:checked ~ .slider-inner .slider-slides {
    transform: translate(-2400px);
}
slider b {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
}  
slider a {
    font-size: 32px;
    font-weight: bold;
} 





.shares-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 230px;/* Временно для сетки */
    margin-bottom: 35px;
  }
.shares h2 {
    font-size: 35px;
    line-height: 41px;
}
.shares p {
    font-size: 18px;
    line-height: 22px;
}
.shares-item{
    width: 560px;
}
.shares-list li:first-child {
    background-image: url("../img/malin-fon.jpg");
    width: 560px; 
    height: 230px; 
    border-radius: 20px;
}
.shares-list li:last-child {
    background-image: url("../img/chocolate-fon.jpg");
    width: 560px; 
    height: 230px; 
    border-radius: 20px;
}

    


.catalog-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 340px;/* Временно для сетки */
    margin-bottom: 35px;
}
.catalog-hits a {
    font-size: 16px;
    line-height: 22px;
    text-shadow: none;
}
.catalog-list li:first-child {
    background-image: url("../img/product-1.jpg");
    width: 260px; 
    height: 260px; 
    border-radius: 50%;
}
.catalog-list li:nth-child(2) {
    background-image: url("../img/product-2.jpg");
    width: 260px; 
    height: 260px; 
    border-radius: 50%;
}
.catalog-list li:nth-child(3) {
    background-image: url("../img/product-3.jpg");
    width: 260px; 
    height: 260px; 
    border-radius: 50%;
}
.catalog-list li:last-child {
    background-image: url("../img/product-4.jpg");
    width: 260px; 
    height: 260px; 
    border-radius: 50%;
}







.features {
    height: 306px;
    background-color: #eddfc2;
    background-image: url("../img/waffle-2.png");
    border-radius: 20px;
    background-repeat: repeat; 
    color:#323232;  
    margin-bottom: 35px;     
} 
.features-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 35px;
  }
.features-list li {
    width: 545px; 
    height: 85px;
    flex-shrink: 0;
    margin-left: 20px;
}  
.features h3 {
    font-size: 24px;
    line-height: 30px;
}
.features p {
    font-size: 16px;
    line-height: 22px;
}



.news {
    display: flex;
    justify-content: space-between; 
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
} 
.news h3 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: underline;
}
.intresting p {
    font-size: 16px;
    line-height: 22px;
    color: #323232;  
}
.intresting {
    width: 560px;
    height: 220px;
    font-size: 16px;
    line-height: 22px;
    color: #323232; 
    background-image: url("../img/sorbet-fon.jpg");
    border-radius: 20px;
} 
.mailsending {
    width: 560px;
    height: 220px;
    background-image: repeating-linear-gradient(135deg, #fe9e90 0px,#fe9e90 7px, #f8f7f4 7px,#f8f7f4 14px, #92cdff 14px,#92cdff 21px );
    border-radius: 20px;
    position: relative;  
}
.mailsending p {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
}  
.postcard {  
    background-color: #f8f7f4;
    width: 546px;
    height: 206px;
    border-radius: 20px;
    position: absolute;
    top: 7px;
    right: 7px;
}


.contacts {
    width: 100%;
    /*background-color: #e5dec6;*/
    background-image: url("../img/map-1.jpg");
    background-repeat: no-repeat;
}
.contacts-wrapper {
    width: 1150px;
    margin: 0 auto;
    display: flex;
}
.contacts-right-blok {
    width: 303px;
    height: 308px;
    font-size: 16px;
    line-height: 22px;
    color: #323232; 
    background-color: #fefefe;
    border-radius: 20px;
    margin-left: auto;
    margin-top: 65px;
    margin-bottom: 60px;
}



.main-footer {
    height: 104px; 
    margin: 0;
}
.main-footer .container {
    display: flex;
}
.footer-social {
    width: 190px;
    margin: 0;
    margin-right: 210px;
}
.info {
    margin: 0;
}
.footer-copyright {
    width: 195px;
    margin: 0;
    margin-left: auto;
    padding-top: 20px;
}
.main-footer li {
    list-style: none;
}
.main-footer a, p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}



.modal {
    font-weight: bold;
    background-color: #f8f7f4;
    width: 280px;
    height: 215px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 0;
    margin:25px;
  }
.modal a {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    text-shadow: none;
    text-decoration: underline; 
}
.modal a:hover {
    color: #777676;
    text-decoration: none;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    height:44px;
    width:225px;
    margin-left: 20px;
    padding-left:15px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(178, 178, 178);
}
.login-form input[type="text"]:hover,
.login-form input[type="password"]:hover {
    border-style: solid;
    border-width: 2px;
    border-color:rgba(46, 137, 228, 0.521);
}

 /*    
.checkbox-indicator::before {
    width: 18px;
      height: 20px;
      background: url("../img/checkbox-off.svg") no-repeat;
    }
    
    .option-check input:checked + .checkbox-indicator::before {
      width: 23px;
      height: 22px;
      background: url("../img/checkbox-on.svg") no-repeat;
      background-size: contain;
    }
    */
      